/* Mengatur agar konten di tengah halaman secara vertikal dan horizontal */
.page-container {
  min-height: 100vh;
  padding: 120px 10%;
  display: flex;
  align-items: center;      /* Menengahkan secara horizontal */
  justify-content: center;  /* Menengahkan secara vertikal */
  text-align: center;
}


.page-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
  background-color: #0ea5e9;
  border-radius: 2px;
}

/* Gaya untuk tulisan "Coming Soon" */
.coming-soon-text {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 50%;
  margin-bottom: 15px;
}

.coming-soon-subtext {
  font-size: 1.2rem;
  color: #cbd5e1;
  max-width: 450px;
}